$primary_color: #1158df;
$secondary_color: #ffbf18;
 $primary_hover : #1159dfbe;

$shadow: 0px 0px 10px 0px rgba(17,88,223,0.4);

$box_shadow : 0 0 30px rgba(173, 181, 189, 0.4);


$gradient_color: linear-gradient(45deg, rgba(17,86,223,1) 52%, rgba(18,114,235,1) 1%);

$gray_background: #e7e7e756;

$text_primary: #000;
$text_secondary: #495057;

$spacer: 8px;

$divider: 2px solid #ffbf18;